#wrap-container {
	width: 100%;
	height:390px;
	background: #F5F5F5;
}

#wrap-container .container {
	width: 1230px;
	margin: 0 auto;
	
	height:390px;
}
#wrap-container .container .breadcrumb {
	margin-top: 20px;
	padding-bottom: 30px;
	height: 30px;
	
}
#wrap-container .container .alert {
	width: 1198px;
	padding: 15px;
	border: 1px solid #FAEBCC;
	background: #FCF8E3;
	font-size: 14px;
	color: #8A6D3B;
	border-radius: 2px;
	height: 18px;
	line-height: 18px;
	margin-bottom: 20px;
}
#wrap-container .container .alert img {
	width: 16px;
	height: 16px;
	vertical-align: middle;
	margin-bottom: 2px;
}
#wrap-container .container .alert button {
	background: #C13E2C;
	outline: none;
	border: 0;
	width: 60px;
	height: 22px;
	text-align: center;
	line-height: 22px;
	color: #fff;
	font-size: 12px;
	border: 1px solid #ac3727;
	cursor: pointer;
}
#wrap-container .container .alert button:hover {
	background: #973123;
	border: 1px solid #7a271c;
}
#wrap-container .container .carts-header {
	height: 40px;
	background-color: #efefef;
    border: 1px #e9e9e9 solid;
}
#wrap-container .container .carts-header ul  {
	overflow: hidden;
}
#wrap-container .container .carts-header ul li {
	padding: 0 28px;
	font-size: 14px;
	float: left;
	height: 40px;
	line-height: 40px;
}
#wrap-container .container .carts-header ul .all-select input {
	vertical-align: middle;
	margin-right: 5px;
}
#wrap-container .container .carts-header ul .product-name {
	width: 400px;
}
.total,.amount,.subtotal,.handel {
	margin-right: 60px;
}
#wrap-container .container .carts-item {
	background-color: #fff;
	height: 98px;
	padding: 15px 0;
	border-bottom: 1px solid #ccc;
}
#wrap-container .container .carts-item ul .cart-f {
	height: 98px;
}
#wrap-container .container .carts-item ul .cart-f ul {
	overflow: hidden;
	
}
#wrap-container .container .carts-item .good li {
	height: 98px;
	line-height: 98px;
	margin-right: 50px;
	float: left;
}
#wrap-container .container .carts-item .good .check {
	display: inline-block;
	margin-left: 40px;
}
#wrap-container .container .carts-item  .good .product-name {
	width: 450px;
	margin-right: 20px;
	overflow: hidden;
}
#wrap-container .container .carts-item .good .product-name .pro-pic {
	width: 88px;
	height: 88px;
	padding: 4px;
	border: 1px solid #ccc;
	float: left;
	margin-left:20px;
}

#wrap-container .container .carts-item .product-name .pro-pic img {
	width: 88px;
	height: 88px;
}
#wrap-container .container .carts-item .product-name .pro-simple {
	float: left;
	width: 250px;
	height: 98px;
	padding-left: 30px;
	font-size: 14px;
}
#wrap-container .container .carts-item .product-name .pro-simple h4 {
	display: block;
	height: 19px;
	width: 200px;
	margin-top: -10px;
}
#wrap-container .container .carts-item .product-name .pro-simple h4 a {
	color: #767676;
	font-weight: 500;
}
#wrap-container .container .carts-item .product-name .pro-simple h5 {
	height: 19px;
	color: #000;
	width: 200px;
	font-weight: 500;
} 
#wrap-container .container .carts-item .good .total {
	margin-left: 10px;
}
#wrap-container .container .carts-item .good .amount {
	margin-top: 30px;
	margin-left: 60px;
	
}
#wrap-container .container .carts-item .good .amount button {
	float: left;
	outline: none;
	width: 34px;
	height: 34px;
	line-height: 34px;
	border: 1px solid #ccc;
	background: none;
	cursor: pointer;
}
#wrap-container .container .carts-item .good .amount button:hover {
	background: #E6E6E6;
}

#wrap-container .container .carts-item .good .amount span {
	float: left;
	display: inline-block;
	text-align: center;
	line-height: 34px;
	width: 40px;
	height: 32px;
	border-top: 1px solid #ccc;
	border-bottom: 1px solid #ccc;
	font-size: 14px;
	color: #767676;
}

.carts-item .subtotal,.carts-item .handel {
	float: right;
	width: 70px;
}
.carts-item .handel {
	margin-left: 45px;
}
.carts-item .subtotal {
	color: #fc6628;
	font-weight: 700;
}
.carts-item .handel a {
	font-size: 12px;
	color: #767676;
}
.clearing {
	padding: 15px 0 30px;
    border: 1px solid #efefef;
}
.clearing ul {
	overflow: hidden;
}
.clearing ul li {
	float: left;
	margin: 0 28px;
	font-size: 14px;
}
.clearing .delete-select {
	margin-right: 100px;
}
.clearing .delete-select a {
	color: #767676;
	font-size: 12px;
}
.clearing .delete-select a:hover {
	color: #000;
}
.clearing .pinkage {
	margin-left: 150px;
	color: #CE2F4E;
	font-size: 12px;
	height: 25px;
	line-height: 25px;
}
.clearing .pinkage span {
	width: 30px;
	height: 19px;
	padding: 1.8px 3.6px;
	background-color: #F39404;
    color: #fff;
    border-radius: 3px;
}
.clearing .total-acount {
	margin-left: 450px;
	display: none;
}
.clearing .total-acount .text-price {
	color: #FC6628;
}

.clearing .all-price {
	float: right;
	margin-right: 0;
	width: 124px;
    background-color: #fc6628;
    border: none;
    font-size: 14px;
    padding: 10px 16px;
    color: #fff;
    border-radius: 3px;
    text-align: center;
}

.clearing .total-price .text-price {
	
	color: #FC6628;
}


/*空的购物车*/
#wrap-container .empty-carts {
	background: #fff;
	width: 100%;
	height: 390px;
	margin-bottom: 10px;
}
#wrap-container .empty-carts ul {
	clear:both;
	width: 550px;
	margin-left: 400px;
	padding-top: 150px;
	
}
#wrap-container .empty-carts ul li {
	float: left;
	margin-left: 50px;
	height: 100px;
	
}
#wrap-container .empty-carts ul li img {
	margin-top: -20px;
}
#wrap-container .empty-carts ul li h4 {
	font-weight: 300;
	margin-bottom: 10px;
	font-size: 22px;
}
#wrap-container .empty-carts ul li h5 {
	font-size: 16px;
	font-weight: 300;
	/*color: #767676;*/
}
#wrap-container .empty-carts ul li a {
	display: inline-block;
	width: 110px;
	height: 36px;
	line-height: 36px;
	color: #fff;
	text-align: center;
	background: #FC6822;
	border-radius: 3px;
	margin-top: 20px;
	font-size: 14px;
}
